h1 {
    /* background-color:rgb(75, 75, 74); */
    color:rgb(0, 0, 0);
    padding: 50px;
    margin: 0;
    height: 5vh;
}

button {
    border-radius: 10px;
}
body {
    background-color:rgb(172, 152, 141);
    background-image: linear-gradient(to bottom right, rgb(124, 124, 124), rgb(255, 255, 255));
    height: 100vh;
}